@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




.desktopBackgroundHome{
  background-image: url("./assets/home/background-home-desktop.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.desktopBackgroundDestination {
  background-image: url("./assets/destination/background-destination-desktop.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.desktopBackgroundCrew {
  background-image: url("./assets/crew/background-crew-desktop.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.desktopBackgroundTechnology {
  background-image: url("./assets/technology/background-technology-desktop.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.tabletBackgroundHome {
  background-image: url("./assets/home/background-home-tablet.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

nav a.active {
  border-color: white;
  
}